defaults:
  - scope:
      path: ""
    values:
      layout: "default"
      permalink: /website-old/:path/:basename/

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

baseurl: /website-old/