code {
	font-family: "SFMono-Regular",Menlo,Consolas,Monospace;
	font-weight: 400;
	background-color: #302d36;
	border: 1px solid #44434d;
}
div.highlighter-rouge {
	padding: 0.75rem;
	margin-top: 0;
	margin-bottom: 0.75rem;
	overflow-x: auto;
	background-color: #302d36;
	border-radius: 4px;
	box-shadow: none;
	-webkit-overflow-scrolling: touch;

	div.highlight,
	pre.highlight,
	code {
		padding: 0;
		margin: 0;
		border: 0;
	}
}
.highlight {
	.nl {
		color: #9CDCFE;
	} // name.label // Keys //
	.s2 {
		color: #ce9178;
	} // literal.string.double // String Values //
	.mi {
		color: #b5cea8;
	} // literal.number.integer // Integer Values //
	.mf {
		color: #b5cea8;
	} // literal.number.float // Float Values //
	.kc {
		color: #569cd6;
	} // keyword.constant // Boolean Values //
	.p {
		color: #C8C8C8;
	} // punctuation //
	.err {
		color: #6A9955;
	} // error //
}