body {
	background-color: #191919;
	color: #c8c8c8
}

#Top {
	text-align: center;
	font-size: 10vw;
}

a {
	text-decoration: none;
	color: #cc0000;
}
a:hover {
	background-color: #403a42
}

div.toc {
	border: 1px solid #44434d;
	padding: 5px;
	background-color: #302d36;
	width: 20vw;
	text-align: center;
}

pre {
	white-space: pre-wrap;
}

div.yt-ttv-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
iframe.yt-ttv-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
div.container-2 {
	float: left;
	width: 50%;
	padding: 1vw;
	text-align: center;
	margin: auto;
	box-sizing: border-box;
}
div.container-3 {
	float: left;
	width: 33.33%;
	padding: 1vw;
	text-align: center;
	margin: auto;
	box-sizing: border-box;
}